{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:unicorn/recommended",
    "plugin:node/recommended",
    "plugin:promise/recommended",
    "plugin:security/recommended",
    "plugin:sonarjs/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "plugins": ["simple-import-sort"],
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "node/no-unpublished-import": "off",
    "unicorn/prevent-abbreviations": "off",
    "security/detect-object-injection": "off",
    "unicorn/no-null": "off",
    "unicorn/no-useless-promise-resolve-reject": "off",
    "sonarjs/no-duplicate-string": "off",
    "unicorn/catch-error-name": "off",
    "unicorn/no-array-reduce": "off",
    "unicorn/prefer-module": "off",
    "security/detect-non-literal-require": "off",
    "node/no-unpublished-require": "off",
    "unicorn/prefer-top-level-await": "off"
  }
}
